body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0d1117;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #161b22;
    position: fixed;
    width: 100%;
    top: 0;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.highlight {
    color: #58a6ff;
}

.btn {
    background: #238636;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

/* SECTIONS */
.section {
    padding: 80px 40px;
    text-align: center;
}

/* SKILLS */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.skill-card {
    background: #161b22;
    padding: 20px;
    border-radius: 8px;
    width: 150px;
}

/* PROJECTS */
.project-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    background: #161b22;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

.btn-small {
    color: #58a6ff;
    text-decoration: none;
}

/* TIMELINE */
.timeline {
    max-width: 600px;
    margin: auto;
}

.timeline-item {
    background: #161b22;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #161b22;
}
